<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Portal</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/adminPortal.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <div class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="/images/logo.jpg" alt="">
                </span>
                <div class="text header-text">
                    <span class="club">Spirit</span>
                    <span class="college">IIT Guwahati</span>
                </div>
            </div>
            <i class='bx bx-chevron-right toggle-arrow'></i>
        </header>
        <div class="scroll">
            <div class="menu-bar">
                <div class="menu">
                    <ul class="mb-5">
                        <li class="">
                            <a href="#cricket-section">
                                <i class='bx bxs-cricket-ball icon'></i>
                                <span class="text nav-text">Cricket</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="#football-section">
                                <i class='bx bx-football icon'></i>
                                <span class="text nav-text">Football</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="#badminton-section">
                                <i class='bx bxs-cricket-ball icon'></i>
                                <span class="text nav-text">Badminton</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="#volleyball-section">
                                <i class="fa-solid fa-volleyball icon"></i>
                                <span class="text nav-text">Volleyball</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="#basketball-section">
                                <i class="fa-solid fa-basketball icon"></i>
                                <span class="text nav-text">Basketball</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="#hockey-section">
                                <i class='bx bxs-cricket-ball icon'></i>
                                <span class="text nav-text">Hockey</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="#chess-section">
                                <i class="fa-solid fa-chess icon"></i>
                                <span class="text nav-text">Chess</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="#khokho-section">
                                <i class='bx bxs-cricket-ball icon'></i>
                                <span class="text nav-text">Khokho</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="#swimming-section">
                                <i class="fa-solid fa-person-swimming icon"></i>
                                <span class="text nav-text">Swimming</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="#table-tennis-section">
                                <i class="fa-solid fa-table-tennis-paddle-ball icon"></i>
                                <span class="text nav-text">Table Tennis</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="#lawn-tennis-section">
                                <i class='bx bxs-cricket-ball icon'></i>
                                <span class="text nav-text">Lawn Tennis</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="#athletics-section">
                                <i class='bx bx-run icon'></i>
                                <span class="text nav-text">Athletics</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="#weightlifting-section">
                                <i class="fa-solid fa-dumbbell icon"></i>
                                <span class="text nav-text">Weightlifting</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="#yoga-section">
                                <i class='bx bxs-cricket-ball icon'></i>
                                <span class="text nav-text">Yoga</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="#carrom-section">
                                <i class='bx bxs-cricket-ball icon'></i>
                                <span class="text nav-text">Carrom</span>
                            </a>
                        </li>

                        <li class=" ">
                            <a href="#squash-section">
                                <i class='bx bxs-cricket-ball icon'></i>
                                <span class="text nav-text">Squash(tentative)</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- sports secions  -->

    <!-- cricket section  -->

    <section class="sport-section" id="cricket-section">
        <h1 class="sport-section-heading text-center my-3">Cricket</h1>
        <div class="container">
            <div class="row">
                <div class="men-section col-12 col-lg-6 bg-color py-4 rounded">
                    <h1 class="sport-section-heading text-center fw-lighter">Men</h1>
                    <div class="dropdowns">
                        <div class="custom-dropdown">
                            <label for="">Rank 1</label>
                            <input type="text" id="cricket_male_NA_NA_rank1" name="Rank 1">
                            <label for="" >Rank 2</label>
                            <input type="text" id="cricket_male_NA_NA_rank2"  name="Rank 2">
                            <label for="">Rank 3</label>
                            <input type="text" id="cricket_male_NA_NA_rank3"  name="Rank 3">
                            <label for="">Rank 4</label>
                            <input type="text" id="cricket_male_NA_NA_rank4" name="Rank 4">
                        </div>
                    </div>
                    <button id="cricket_btn" class="mt-3"  onclick="update_ranking('cricket','male','NA','NA');">Update</button>
                </div>
            </div>
        </div>
    </section>

    <!-- football-section -->

    <section class="sport-section" id="football-section">
        <h1 class="sport-section-heading text-center my-3">
            Football
        </h1>
        <div class="container">
            <div class="row">
                <div class="men-section col-12 col-lg-6 bg-color py-4 rounded">
                    <h1 class="sport-section-heading text-center fw-lighter">Men</h1>
                    <div class="dropdowns gap-4">
                        <div class="custom-dropdown">
                            <label for="">Rank 1</label>
                            <input type="text" id="football_male_NA_NA_rank1" name="Rank 1">
                            <label for="">Rank 2</label>
                            <input type="text" id="football_male_NA_NA_rank2"  name="Rank 2">
                            <label for="">Rank 3</label>
                            <input type="text" id="football_male_NA_NA_rank3"  name="Rank 3">
                            <label for="">Rank 4</label>
                            <input type="text" id="football_male_NA_NA_rank4"  name="Rank 4">
                        </div>
                    </div>
                    <button class="mt-3"  onclick="update_ranking('football','male','NA','NA');">Update</button>
                </div>
            </div>
        </div>

    </section>



    <!-- Badminton-section  -->
    <section class="sport-section" id="badminton-section">
        <h1 class="sport-section-heading text-center my-3">
            Badminton
        </h1>
        <div class="container">
            <div class="row gap-3 gap-lg-0">
                <div class="men-section col-12 col-lg-6 bg-color py-4 rounded">
                    <h1 class="sport-section-heading text-center fw-lighter">Men</h1>
                    <div class="dropdowns gap-4">
                        <div class="custom-dropdown">
                            <label for="">Rank 1</label>
                            <input type="text" id="badminton_male_NA_NA_rank1" name="Rank 1">
                            <label for="">Rank 2</label>
                            <input type="text" id="badminton_male_NA_NA_rank2" name="Rank 2">
                            <label for="">Rank 3</label>
                            <input type="text" id="badminton_male_NA_NA_rank3" name="Rank 3">
                            <label for="">Rank 4</label>
                            <input type="text" id="badminton_male_NA_NA_rank4" name="Rank 4">
                        </div>
                    </div>
                    <button class="mt-3" onclick="update_ranking('badminton','male','NA','NA');">Update</button>
                </div>
                <div class="men-section col-12 col-lg-6 bg-color py-4 rounded">
                    <h1 class="sport-section-heading text-center fw-lighter">Women</h1>
                    <div class="dropdowns gap-4">
                        <div class="custom-dropdown">
                            <label for="">Rank 1</label>
                            <input type="text" id="badminton_female_NA_NA_rank1" name="Rank 1">
                            <label for="">Rank 2</label>
                            <input type="text" id="badminton_female_NA_NA_rank2" name="Rank 2">
                            <label for="">Rank 3</label>
                            <input type="text" id="badminton_female_NA_NA_rank3" name="Rank 3">
                            <label for="">Rank 4</label>
                            <input type="text" id="badminton_female_NA_NA_rank4" name="Rank 4">
                        </div>
                    </div>
                    <button class="mt-3" onclick="update_ranking('badminton','female','NA','NA')">Update</button>
                </div>
            </div>
        </div>
    </section>


   <!-- Volleyball-section   -->
   <section class="sport-section" id="volleyball-section">
    <h1 class="sport-section-heading text-center my-3">
        Volleyball
    </h1>
    <div class="container">
        <div class=" row gap-3 gap-lg-0">
            <div class="men-section col-12 col-lg-6 bg-color py-4 rounded">
                <h1 class="sport-section-heading text-center fw-lighter">Men</h1>
                <div class="dropdowns gap-4">
                    <div class="custom-dropdown">
                        <label for="">Rank 1</label>
                        <input type="text" id="volleyball_male_NA_NA_rank1" name="Rank 1">
                        <label for="">Rank 2</label>
                        <input type="text" id="volleyball_male_NA_NA_rank2" name="Rank 2">
                        <label for="">Rank 3</label>
                        <input type="text" id="volleyball_male_NA_NA_rank3" name="Rank 3">
                        <label for="">Rank 4</label>
                        <input type="text" id="volleyball_male_NA_NA_rank4" name="Rank 4">
                    </div>
                </div>
                <button class="mt-3" onclick="update_ranking('volleyball','male','NA','NA');">Update</button>
            </div>
            <div class="men-section col-12 col-lg-6 bg-color py-4 rounded">
                <h1 class="sport-section-heading text-center fw-lighter">Women</h1>
                <div class="dropdowns gap-4">
                    <div class="custom-dropdown">
                        <label for="">Rank 1</label>
                        <input type="text"  id="volleyball_female_NA_NA_rank1" name="Rank 1">
                        <label for="">Rank 2</label>
                        <input type="text" id="volleyball_female_NA_NA_rank2" name="Rank 2">
                        <label for="">Rank 3</label>
                        <input type="text" id="volleyball_female_NA_NA_rank3" name="Rank 3">
                        <label for="">Rank 4</label>
                        <input type="text" id="volleyball_female_NA_NA_rank4" name="Rank 4">
                    </div>
                </div>
                <button class="mt-3" onclick="update_ranking('volleyball','female','NA','NA');">Update</button>
            </div>
        </div>
    </div>
</section>



<!-- Basketball-section  -->
<section class="sport-section" id="basketball-section">
    <h1 class="sport-section-heading text-center my-3">
        Basketball
    </h1>
    <div class="container">
        <div class=" row gap-3 gap-lg-0">
            <div class="men-section col-12 col-lg-6 bg-color py-4 rounded">
                <h1 class="sport-section-heading text-center fw-lighter">Men</h1>
                <div class="dropdowns gap-4">
                    <div class="custom-dropdown">
                        <label for="">Rank 1</label>
                        <input type="text" id="basketball_male_NA_NA_rank1" name="Rank 1">
                        <label for="">Rank 2</label>
                        <input type="text" id="basketball_male_NA_NA_rank2" name="Rank 2">
                        <label for="">Rank 3</label>
                        <input type="text" id="basketball_male_NA_NA_rank3" name="Rank 3">
                        <label for="">Rank 4</label>
                        <input type="text" id="basketball_male_NA_NA_rank4" name="Rank 4">
                    </div>
                </div>
                <button class="mt-3" onclick="update_ranking('basketball','male','NA','NA');">Update</button>
            </div>
            <div class="men-section col-12 col-lg-6 bg-color py-4 rounded">
                <h1 class="sport-section-heading text-center fw-lighter">Women</h1>
                <div class="dropdowns gap-4">
                    <div class="custom-dropdown">
                        <label for="">Rank 1</label>
                        <input type="text" id="basketball_female_NA_NA_rank1" name="Rank 1">
                        <label for="">Rank 2</label>
                        <input type="text" id="basketball_female_NA_NA_rank2" name="Rank 2">
                        <label for="">Rank 3</label>
                        <input type="text" id="basketball_female_NA_NA_rank3" name="Rank 3">
                        <label for="">Rank 4</label>
                        <input type="text" id="basketball_female_NA_NA_rank4" name="Rank 4">
                    </div>
                </div>
                <button class="mt-3" onclick="update_ranking('basketball','female','NA','NA');">Update</button>
            </div>
        </div>
    </div>
</section>



<!-- Hockey-section  -->
<section class="sport-section" id="hockey-section">
    <h1 class="sport-section-heading text-center my-3">
        Hockey
    </h1>
    <div class="container">
        <div class=" row gap-3 gap-lg-0">
            <div class="men-section col-12 col-lg-6 bg-color py-4 rounded">
                <h1 class="sport-section-heading text-center fw-lighter">Men</h1>
                <div class="dropdowns gap-4">
                    <div class="custom-dropdown">
                        <label for="">Rank 1</label>
                        <input type="text" id="hockey_male_NA_NA_rank1" name="Rank 1">
                        <label for="">Rank 2</label>
                        <input type="text"  id="hockey_male_NA_NA_rank2"  name="Rank 2">
                        <label for="">Rank 3</label>
                        <input type="text"  id="hockey_male_NA_NA_rank3"  name="Rank 3">
                        <label for="">Rank 4</label>
                        <input type="text"  id="hockey_male_NA_NA_rank4"  name="Rank 4">
                    </div>
                </div>
                <button class="mt-3" onclick="update_ranking('hockey','male','NA','NA');">Update</button>
            </div>
            <div class="men-section col-12 col-lg-6 bg-color py-4 rounded">
                <h1 class="sport-section-heading text-center fw-lighter">Women</h1>
                <div class="dropdowns gap-4">
                    <div class="custom-dropdown">
                        <label for="">Rank 1</label>
                        <input type="text"  id="hockey_female_NA_NA_rank1"  name="Rank 1">
                        <label for="">Rank 2</label>
                        <input type="text"id="hockey_female_NA_NA_rank2"  name="Rank 2">
                        <label for="">Rank 3</label>
                        <input type="text"id="hockey_female_NA_NA_rank3"  name="Rank 3">
                        <label for="">Rank 4</label>
                        <input type="text" id="hockey_female_NA_NA_rank4" name="Rank 4">
                    </div>
                </div>
                <button class="mt-3" onclick="update_ranking('hockey','female','NA','NA');">Update</button>
            </div>
        </div>
    </div>
</section>


<!-- Chess-section  -->
<section class="sport-section" id="chess-section">
    <h1 class="sport-section-heading text-center my-3">Chess</h1>
    <div class="container">
        <div class="row ">
            <div class="men-section col-12 col-lg-6 bg-color py-4 rounded">
                <h1 class="sport-section-heading text-center fw-lighter">Men</h1>
                <div class="dropdowns gap-4">
                    <div class="custom-dropdown">
                        <label for="">Rank 1</label>
                        <input type="text" id="chess_male_NA_NA_rank1" name="Rank 1">
                        <label for="">Rank 2</label>
                        <input type="text" id="chess_male_NA_NA_rank2"  name="Rank 2">
                        <label for="">Rank 3</label>
                        <input type="text" id="chess_male_NA_NA_rank3"  name="Rank 3">
                        <label for="">Rank 4</label>
                        <input type="text" id="chess_male_NA_NA_rank4"  name="Rank 4">
                    </div>
                </div>
                <button class="mt-3" onclick="update_ranking('chess','male','NA','NA');">Update</button>
            </div>
        </div>
    </div>
</section>



<!-- Khokho-section  -->
<section class="sport-section" id="swimming-section">
    <h1 class="sport-section-heading text-center my-3">
        Khokho
    </h1>
    <div class="container">
        <div class=" row gap-3 gap-lg-0">
            <div class="men-section col-12 col-lg-6 bg-color py-4 rounded">
                <h1 class="sport-section-heading text-center fw-lighter">Men</h1>
                <div class="dropdowns gap-4">
                    <div class="custom-dropdown">
                        <label for="">Rank 1</label>
                        <input type="text" id="khokho_male_NA_NA_rank1" name="Rank 1">
                        <label for="">Rank 2</label>
                        <input type="text" id="khokho_male_NA_NA_rank2"  name="Rank 2">
                        <label for="">Rank 3</label>
                        <input type="text" id="khokho_male_NA_NA_rank3"  name="Rank 3">
                        <label for="">Rank 4</label>
                        <input type="text" id="khokho_male_NA_NA_rank4"  name="Rank 4">
                    </div>
                </div>
                <button class="mt-3" onclick="update_ranking('khokho','male','NA','NA');">Update</button>
            </div>
            <div class="men-section col-12 col-lg-6 bg-color py-4 rounded">
                <h1 class="sport-section-heading text-center fw-lighter">Women</h1>
                <div class="dropdowns gap-4">
                    <div class="custom-dropdown">
                        <label for="">Rank 1</label>
                        <input type="text" id="khokho_female_NA_NA_rank1" name="Rank 1">
                        <label for="">Rank 2</label>
                        <input type="text" id="khokho_female_NA_NA_rank2" name="Rank 2">
                        <label for="">Rank 3</label>
                        <input type="text" id="khokho_female_NA_NA_rank3" name="Rank 3">
                        <label for="">Rank 4</label>
                        <input type="text" id="khokho_female_NA_NA_rank4" name="Rank 4">
                    </div>
                </div>
                <button class="mt-3" onclick="update_ranking('khokho','female','NA','NA');">Update</button>
            </div>
        </div>
    </div>
</section>

<section class="sport-section" id="swimming-section">
    <h1 class="sport-section-heading text-center my-3">
        Swimming
    </h1>
    <div class="container">
        <div class=" row gap-3 gap-lg-0">
            <div class="men-section col-12 col-lg-6 bg-color py-4 rounded">
                <h1 class="sport-section-heading text-center fw-lighter">Men</h1>
                <div class="dropdowns gap-4">
                    <div class="custom-dropdown">
                        <label for="">Rank 1</label>
                        <input type="text" id="swimming_male_NA_NA_rank1" name="Rank 1">
                        <label for="">Rank 2</label>
                        <input type="text" id="swimming_male_NA_NA_rank2"  name="Rank 2">
                        <label for="">Rank 3</label>
                        <input type="text" id="swimming_male_NA_NA_rank3"  name="Rank 3">
                        <label for="">Rank 4</label>
                        <input type="text" id="swimming_male_NA_NA_rank4"  name="Rank 4">
                    </div>
                </div>
                <button class="mt-3" onclick="update_ranking('swimming','male','NA','NA');">Update</button>
            </div>
            <div class="men-section col-12 col-lg-6 bg-color py-4 rounded">
                <h1 class="sport-section-heading text-center fw-lighter">Women</h1>
                <div class="dropdowns gap-4">
                    <div class="custom-dropdown">
                        <label for="">Rank 1</label>
                        <input type="text" id="swimming_female_NA_NA_rank1" name="Rank 1">
                        <label for="">Rank 2</label>
                        <input type="text" id="swimming_female_NA_NA_rank2" name="Rank 2">
                        <label for="">Rank 3</label>
                        <input type="text" id="swimming_female_NA_NA_rank3" name="Rank 3">
                        <label for="">Rank 4</label>
                        <input type="text" id="swimming_female_NA_NA_rank4" name="Rank 4">
                    </div>
                </div>
                <button class="mt-3" onclick="update_ranking('swimming','female','NA','NA');">Update</button>
            </div>
        </div>
    </div>
</section>


<!-- Table Tennis-section  -->
<section class="sport-section" id="table-tennis-section">
    <h1 class="sport-section-heading text-center my-3">
        Table Tennis
    </h1>
    <div class="container">
        <div class=" row gap-3 gap-lg-0">
            <div class="men-section col-12 col-lg-6 bg-color py-4 rounded">
                <h1 class="sport-section-heading text-center fw-lighter">Men</h1>
                <div class="dropdowns gap-4">
                    <div class="custom-dropdown">
                        <label for="">Rank 1</label>
                        <input type="text" id="tabletennis_male_NA_NA_rank1" name="Rank 1">
                        <label for="">Rank 2</label>
                        <input type="text"  id="tabletennis_male_NA_NA_rank2" name="Rank 2">
                        <label for="">Rank 3</label>
                        <input type="text"  id="tabletennis_male_NA_NA_rank3" name="Rank 3">
                        <label for="">Rank 4</label>
                        <input type="text"  id="tabletennis_male_NA_NA_rank4" name="Rank 4">
                    </div>
                </div>
                <button class="mt-3" onclick="update_ranking('tabletennis','male','NA','NA');">Update</button>
            </div>
            <div class="men-section col-12 col-lg-6 bg-color py-4 rounded">
                <h1 class="sport-section-heading text-center fw-lighter">Women</h1>
                <div class="dropdowns gap-4">
                    <div class="custom-dropdown">
                        <label for="">Rank 1</label>
                        <input type="text" id="tabletennis_female_NA_NA_rank1" name="Rank 1">
                        <label for="">Rank 2</label>
                        <input type="text" id="tabletennis_female_NA_NA_rank2" name="Rank 2">
                        <label for="">Rank 3</label>
                        <input type="text" id="tabletennis_female_NA_NA_rank3" name="Rank 3">
                        <label for="">Rank 4</label>
                        <input type="text" id="tabletennis_female_NA_NA_rank4" name="Rank 4">
                    </div>
                </div>
                <button class="mt-3" onclick="update_ranking('tabletennis','female','NA','NA');">Update</button>
            </div>
        </div>
    </div>
</section>


<!-- lawn-tennis-section  -->
<section class="sport-section" id="lawn-tennis-section">
    <h1 class="sport-section-heading text-center my-3">
        Lawn Tennis
    </h1>
    <div class="container">
        <div class=" row gap-3 gap-lg-0">
            <div class="men-section col-12 col-lg-6 bg-color py-4 rounded">
                <h1 class="sport-section-heading text-center fw-lighter">Men</h1>
                <div class="dropdowns gap-4">
                    <div class="custom-dropdown">
                        <label for="">Rank 1</label>
                        <input type="text" id="lawntennis_male_NA_NA_rank1" name="Rank 1">
                        <label for="">Rank 2</label>
                        <input type="text" id="lawntennis_male_NA_NA_rank2" name="Rank 2">
                        <label for="">Rank 3</label>
                        <input type="text" id="lawntennis_male_NA_NA_rank3" name="Rank 3">
                        <label for="">Rank 4</label>
                        <input type="text" id="lawntennis_male_NA_NA_rank4" name="Rank 4">
                    </div>
                </div>
                <button class="mt-3" onclick="update_ranking('lawntennis','male','NA','NA');">Update</button>
            </div>
            <div class="men-section col-12 col-lg-6 bg-color py-4 rounded">
                <h1 class="sport-section-heading text-center fw-lighter">Women</h1>
                <div class="dropdowns gap-4">
                    <div class="custom-dropdown">
                        <label for="">Rank 1</label>
                        <input type="text" id="lawntennis_female_NA_NA_rank1" name="Rank 1">
                        <label for="">Rank 2</label>
                        <input type="text" id="lawntennis_female_NA_NA_rank2" name="Rank 2">
                        <label for="">Rank 3</label>
                        <input type="text" id="lawntennis_female_NA_NA_rank3" name="Rank 3">
                        <label for="">Rank 4</label>
                        <input type="text" id="lawntennis_female_NA_NA_rank4" name="Rank 4">
                    </div>
                </div>
                <button class="mt-3" onclick="update_ranking('lawntennis','female','NA','NA');">Update</button>
            </div>
        </div>
    </div>
</section>

<!-- yoga-section  -->
<section class="sport-section" id="yoga-section">
    <h1 class="sport-section-heading text-center my-3">Yoga</h1>
    <div class="container">
        <div class="row ">
            <div class="men-section col-12 col-lg-6 bg-color py-4 rounded">
                <h1 class="sport-section-heading text-center fw-lighter">Men</h1>
                <div class="dropdowns gap-4">
                    <div class="custom-dropdown">
                        <label for="">Rank 1</label>
                        <input type="text" id="yoga_male_NA_NA_rank1" name="Rank 1">
                        <label for="">Rank 2</label>
                        <input type="text" id="yoga_male_NA_NA_rank2" name="Rank 2">
                        <label for="">Rank 3</label>
                        <input type="text" id="yoga_male_NA_NA_rank3" name="Rank 3">
                        <label for="">Rank 4</label>
                        <input type="text" id="yoga_male_NA_NA_rank4" name="Rank 4">
                    </div>

                </div>
                <button class="mt-3" onclick="update_ranking('yoga','male','NA','NA');">Update</button>
            </div>
            <div class="men-section col-12 col-lg-6 bg-color py-4 rounded">
                <h1 class="sport-section-heading text-center fw-lighter">Women</h1>
                <div class="dropdowns gap-4">
                    <div class="custom-dropdown">
                        <label for="">Rank 1</label>
                        <input type="text" id="yoga_female_NA_NA_rank1" name="Rank 1">
                        <label for="">Rank 2</label>
                        <input type="text" id="yoga_female_NA_NA_rank2" name="Rank 2">
                        <label for="">Rank 3</label>
                        <input type="text" id="yoga_female_NA_NA_rank3" name="Rank 3">
                        <label for="">Rank 4</label>
                        <input type="text" id="yoga_female_NA_NA_rank4" name="Rank 4">
                    </div>

                </div>
                <button class="mt-3" onclick="update_ranking('yoga','female','NA','NA');">Update</button>
            </div>
        </div>
    </div>
</section>



<!-- carrom-section  -->
<section class="sport-section" id="carrom-section">
    <h1 class="sport-section-heading text-center my-3">Carrom</h1>
    <div class="container">
        <div class="row ">
            <div class="men-section col-12 col-lg-6 bg-color py-4 rounded">
                <h1 class="sport-section-heading text-center fw-lighter">Men</h1>
                <div class="dropdowns gap-4">
                    <div class="custom-dropdown">
                        <label for="">Rank 1</label>
                        <input type="text" id="carrom_male_NA_NA_rank1" name="Rank 1">
                        <label for="">Rank 2</label>
                        <input type="text" id="carrom_male_NA_NA_rank2" name="Rank 2">
                        <label for="">Rank 3</label>
                        <input type="text" id="carrom_male_NA_NA_rank3" name="Rank 3">
                        <label for="">Rank 4</label>
                        <input type="text" id="carrom_male_NA_NA_rank4" name="Rank 4">
                    </div>
                   
                </div>
                <button class="mt-3" onclick="update_ranking('carrom','male','NA','NA');">Update</button>
            </div>
        </div>
    </div>
</section>


<!-- Squash-section  -->
<section class="sport-section" id="squash-section">
    <h1 class="sport-section-heading text-center my-3">Squash</h1>
    <div class="container">
        <div class="row ">
            <div class="men-section col-12 col-lg-6 bg-color py-4 rounded">
                <h1 class="sport-section-heading text-center fw-lighter">Men</h1>
                <div class="dropdowns gap-4">
                    <div class="custom-dropdown">
                        <label for="">Rank 1</label>
                        <input type="text" id="squash_male_NA_NA_rank1" name="Rank 1">
                        <label for="">Rank 2</label>
                        <input type="text" id="squash_male_NA_NA_rank2"  name="Rank 2">
                        <label for="">Rank 3</label>
                        <input type="text" id="squash_male_NA_NA_rank3"  name="Rank 3">
                        <label for="">Rank 4</label>
                        <input type="text" id="squash_male_NA_NA_rank4"  name="Rank 4">
                    </div>
                </div>
                <button class="mt-3" onclick="update_ranking('squash','male','NA','NA');">Update</button>
            </div>
        </div>
    </div>
</section>


<!-- Weightlifting-section  -->
<section class="sport-section" id="weightlifting-section">
    <h1 class="sport-section-heading text-center my-3">
       Weightlifting
    </h1>
    <div class="container">
        <div class=" row gap-3 gap-lg-0">
            <div class="men-section col-12 col-lg-6 bg-color py-4 rounded">
                <h1 class="sport-section-heading text-center fw-lighter">Upto 56kg</h1>
                <div class="dropdowns gap-4">
                    <div class="custom-dropdown">
                        <label for="">Rank 1</label>
                        <input type="text" id="weightlifting_male_upto56_NA_rank1" name="Rank 1">
                        <label for="">Rank 2</label>
                        <input type="text" id="weightlifting_male_upto56_NA_rank2" name="Rank 2">
                        <label for="">Rank 3</label>
                        <input type="text" id="weightlifting_male_upto56_NA_rank3" name="Rank 3">
                        <label for="">Rank 4</label>
                        <input type="text" id="weightlifting_male_upto56_NA_rank4" name="Rank 4">
                    </div>
                </div>
                <button class="mt-3" onclick="update_ranking('weightlifting','male','upto56','NA');">Update</button>
            </div>
            <div class="men-section col-12 col-lg-6 bg-color py-4 rounded">
                <h1 class="sport-section-heading text-center fw-lighter">Upto 62kg</h1>
                <div class="dropdowns gap-4">
                    <div class="custom-dropdown">
                        <label for="">Rank 1</label>
                        <input type="text" id="weightlifting_male_upto62_NA_rank1" name="Rank 1">
                        <label for="">Rank 2</label>
                        <input type="text" id="weightlifting_male_upto62_NA_rank2" name="Rank 2">
                        <label for="">Rank 3</label>
                        <input type="text" id="weightlifting_male_upto62_NA_rank3" name="Rank 3">
                        <label for="">Rank 4</label>
                        <input type="text" id="weightlifting_male_upto62_NA_rank4" name="Rank 4">
                    </div>
                    
                </div>
                <button class="mt-3" onclick="update_ranking('weightlifting','male','upto62','NA');" >Update</button>
            </div>
            <div class="men-section col-12 col-lg-6 bg-color py-4 rounded">
                <h1 class="sport-section-heading text-center fw-lighter">Upto 69kg</h1>
                <div class="dropdowns gap-4">
                    <div class="custom-dropdown">
                        <label for="">Rank 1</label>
                        <input type="text" id="weightlifting_male_upto69_NA_rank1" name="Rank 1">
                        <label for="">Rank 2</label>
                        <input type="text" id="weightlifting_male_upto69_NA_rank2" name="Rank 2">
                        <label for="">Rank 3</label>
                        <input type="text" id="weightlifting_male_upto69_NA_rank3" name="Rank 3">
                        <label for="">Rank 4</label>
                        <input type="text" id="weightlifting_male_upto69_NA_rank4" name="Rank 4">
                    </div>
                    
                </div>
                <button class="mt-3" onclick="update_ranking('weightlifting','male','upto69','NA');" >Update</button>
            </div>
            <div class="men-section col-12 col-lg-6 bg-color py-4 rounded">
                <h1 class="sport-section-heading text-center fw-lighter">Upto 77kg</h1>
                <div class="dropdowns gap-4">
                    <div class="custom-dropdown">
                        <label for="">Rank 1</label>
                        <input type="text" id="weightlifting_male_upto77_NA_rank1"  name="Rank 1">
                        <label for="">Rank 2</label>
                        <input type="text" id="weightlifting_male_upto77_NA_rank2"  name="Rank 2">
                        <label for="">Rank 3</label>
                        <input type="text" id="weightlifting_male_upto77_NA_rank3"  name="Rank 3">
                        <label for="">Rank 4</label>
                        <input type="text" id="weightlifting_male_upto77_NA_rank4"  name="Rank 4">
                    </div>
                </div>
                <button class="mt-3" onclick="update_ranking('weightlifting','male','upto77','NA');">Update</button>
            </div>
            <div class="men-section col-12 col-lg-6 bg-color py-4 rounded">
                <h1 class="sport-section-heading text-center fw-lighter">Over 77kg</h1>
                <div class="dropdowns gap-4">
                    <div class="custom-dropdown">
                        <label for="">Rank 1</label>
                        <input type="text" id="weightlifting_male_over77_NA_rank1" name="Rank 1">
                        <label for="">Rank 2</label>
                        <input type="text"  id="weightlifting_male_over77_NA_rank2" name="Rank 2">
                        <label for="">Rank 3</label>
                        <input type="text"  id="weightlifting_male_over77_NA_rank3" name="Rank 3">
                        <label for="">Rank 4</label>
                        <input type="text"  id="weightlifting_male_over77_NA_rank4" name="Rank 4">
                    </div>
                </div>
                <button class="mt-3" onclick="update_ranking('weightlifting','male','over77','NA');">Update</button>
            </div>
        </div>
    </div>
</section>


<!-- Athletics-section  -->
<section class="sport-section" id="athletics-section">
    <h1 class="sport-section-heading text-center my-3">
       Athletics
    </h1>
    <div class="container">
        <div class=" row gap-3 gap-lg-0">
            <div class="men-section col-12 col-lg-6 bg-color py-4 rounded">
                <h1 class="sport-section-heading text-center fw-lighter">Men</h1>
                <div class="dropdowns gap-4">
                    <div class="custom-dropdown">
                        <label for="">Rank 1</label>
                        <input type="text" id="athletics_male_NA_NA_rank1" name="Rank 1">
                        <label for="">Rank 2</label>
                        <input type="text" id="athletics_male_NA_NA_rank2" name="Rank 2">
                        <label for="">Rank 3</label>
                        <input type="text" id="athletics_male_NA_NA_rank3" name="Rank 3">
                        <label for="">Rank 4</label>
                        <input type="text" id="athletics_male_NA_NA_rank4" name="Rank 4">
                    </div>
                </div>
                <button class="mt-3" onclick="update_ranking('athletics','male','NA','NA');">Update</button>
            </div>
            <div class="men-section col-12 col-lg-6 bg-color py-4 rounded">
                <h1 class="sport-section-heading text-center fw-lighter">Women</h1>
                <div class="dropdowns gap-4">
                    <div class="custom-dropdown">
                        <label for="">Rank 1</label>
                        <input type="text" id="athletics_female_NA_NA_rank1"  name="Rank 1">
                        <label for="">Rank 2</label>
                        <input type="text" id="athletics_female_NA_NA_rank2"  name="Rank 2">
                        <label for="">Rank 3</label>
                        <input type="text" id="athletics_female_NA_NA_rank3" name="Rank 3">
                        <label for="">Rank 4</label>
                        <input type="text" id="athletics_female_NA_NA_rank4" name="Rank 4">
                    </div>
                </div>
                <button class="mt-3" onclick="update_ranking('athletics','female','NA','NA');">Update</button>
            </div>
        </div>
    </div>
</section>

    <script src="https://kit.fontawesome.com/a16eebca31.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script src="/js/admin_portal.js"> </script>
</body>


<script>
   async function update_ranking(name,gender,category,subCategory){
        const rank1=document.querySelector(`#${name}_${gender}_${category}_${subCategory}_rank1`).value;
        const rank2=document.querySelector(`#${name}_${gender}_${category}_${subCategory}_rank2`).value;
        const rank3=document.querySelector(`#${name}_${gender}_${category}_${subCategory}_rank3`).value;
        const rank4=document.querySelector(`#${name}_${gender}_${category}_${subCategory}_rank4`).value;

        const newdata={name,gender,category,subCategory,rank1,rank2,rank3,rank4};
        // console.log(newdata);

        const response = await fetch(`/api/admin/update`, {
        method: "PUT",
        headers: {
          'content-type': 'application/json'
        },
        body: JSON.stringify(newdata)
      });
      const res = await response.json();
      if (res.status) {
        //  console.log(res.msg);
            alert("updated successfully");
          }
      else {
        alert(res.error);
      }
    }
</script>

</html>