<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spirit 2023</title>
    <link rel="stylesheet" href="/css/about-us.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon_io/favicon-16x16.png">
    <link rel="manifest" href="../favicon_io/site.webmanifest">
</head>
<body>
    <!--prem-->
    <header class="header">
      <div class="year">
          <a href="/" style="text-decoration: none;"><img class="logo" src="../images/Svectorlogo.svg" alt="spirit logo" height="31.25px" style="margin-bottom: 4px;margin-left: 10px;width: 23%;">
          <img class="spir" src="../images/Component 1.svg" alt="spiritname" height="37px" style="width: 70%;"></a>
      </div>
      <nav class="navbar">
          <div class="hamburger" id="hamburger">
              <div class="bar"></div>
              <div class="bar"></div>
              <div class="bar"></div>
            </div>
          <ul class="hlinks" id="hlinks">
              <li><a href="/events" style="font-family: 'satoshi';">Events</a></li>
              <!-- <li><a href="#">Sponsors</a></li> -->
              <li><a href="/about-us" style="font-family: 'satoshi';">About Us</a></li>
              <li><a href="https://drive.google.com/file/d/1y8EZ1wJE1FBL0Z2j-rdv6JyyLYDVkHMg/view?usp=sharing" target="_blank" style="font-family: 'satoshi';">Rulebook</a></li>
              <li>
                  <button class="but" onclick="location.href='/register'" style="cursor: pointer;font-family: 'satoshi';font-weight: 900;">Register</button>
              </li>
          </ul>
      </nav>
  </header>

  <body class="about us">

    <div class="container8">
        
      
        <iframe width="500" height="500" src="https://www.youtube.com/embed/lPpmFBoEIWc?si=kpUFDClxpD6XgApZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    </div>
    


<section class="section members" id="team">
    <div class="container">
        <header class="section-header text-center">
            <h2 class="section-title">MEET THE TEAM</h2></header>
            <div class="team" >
                <div class="team-row">
                <div class="team-member">
                    <div class="card">
                        <div class="card-front">
                        <div class="team-member__image"><figure class="img-holder"><img src="../images/about-us-imgs/shubhankit-convenor-1.avif"></figure>
                        </div>
                        <div class="team-member__body">
                            <h3 class="team-member__title"> Shubhankit </h3>
                            <p class="team-member__subtitle"> Convenor</p>
                        </div>
 </div>

 </div>
 </div>

 

                <div class="team-member">
                    <div class="card">
                        <div class="card-front">
                            <div class="team-member__image">
                                <figure class="img-holder"><img src="../images/about-us-imgs/Yuvraj_FH.avif"></figure></div>
                                <div class="team-member__body"><h3 class="team-member__title">Yuvraj</h3>
                                    <p class="team-member__subtitle">Finance Head</p>
                                </div>
                            </div>
                        </div>
                        </div>




                        <div class="team-member">
                            <div class="card">
                                <div class="card-front">
                                    <div class="team-member__image">
                                        <figure class="img-holder"><img src="../images/about-us-imgs/ayush-crm.avif"></figure></div>
                                        <div class="team-member__body"><h3 class="team-member__title">Ayush</h3>
                                            <p class="team-member__subtitle">CRM Head</p>
                                        </div>
                                    </div>
                                </div>
                                </div>



                                <div class="team-member">
                                    <div class="card">
                                        <div class="card-front">
                                            <div class="team-member__image">
                                                <figure class="img-holder"><img src="../images/about-us-imgs/Uddiptta-deka_Marketing-head.avif"></figure></div>
                                                <div class="team-member__body"><h3 class="team-member__title">Uddiptta</h3>
                                                    <p class="team-member__subtitle">CRM Head</p>
                                                </div>
                                            </div>
                                        </div>
                                        </div>

</div>

<div class="team-row">
                                        <div class="team-member">
                                            <div class="card">
                                                <div class="card-front">
                                                    <div class="team-member__image">
                                                        <figure class="img-holder"><img src="../images/about-us-imgs/Ishant_marketing head.avif"></figure></div>
                                                        <div class="team-member__body"><h3 class="team-member__title">Ishant</h3>
                                                            <p class="team-member__subtitle">CRM Head</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                </div>



                                               



                                                                <div class="team-member">
                                                                    <div class="card">
                                                                        <div class="card-front">
                                                                            <div class="team-member__image">
                                                                                <figure class="img-holder"><img src="../images/about-us-imgs/shrut-events.avif"></figure></div>
                                                                                <div class="team-member__body"><h3 class="team-member__title">Shrut</h3>
                                                            <p class="team-member__subtitle">Events Head</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        </div>



                                                                        <div class="team-member">
                                                                            <div class="card">
                                                                                <div class="card-front">
                                                                                    <div class="team-member__image">
                                                                                        <figure class="img-holder"><img src="../images/about-us-imgs/Parul-Bhagat__Events.avif"></figure></div>
                                                                                        <div class="team-member__body"><h3 class="team-member__title">Parul</h3>
                                                                                            <p class="team-member__subtitle">Events Head</p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                </div>


                                                                                <div class="team-member">
                                                                                    <div class="card">
                                                                                        <div class="card-front">
                                                                                            <div class="team-member__image">
                                                                                                <figure class="img-holder"><img src="../images/about-us-imgs/PXL_20230520_133515374_3.avif"></figure></div>
                                                                                                <div class="team-member__body"><h3 class="team-member__title">Mousam</h3>
                                                                                                    <p class="team-member__subtitle">Events Head</p>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        </div>

                                                                                        </div>

                                                                                       <div class="team-row">


                                                                            
                                                                                         <div class="team-member">
                                                                                                            <div class="card">
                                                                                                                <div class="card-front">
                                                                                                                    <div class="team-member__image">
                                                                                                                        <figure class="img-holder"><img src="../images/about-us-imgs/deepan-prb-2.avif"></figure></div>
                                                                                                                        <div class="team-member__body"><h3 class="team-member__title">Deepan</h3>
                                                                                                                            <p class="team-member__subtitle">PR Branding Head</p>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                </div>   <div class="team-member">
                                                                                                                    <div class="card">
                                                                                                                        <div class="card-front">
                                                                                                                            <div class="team-member__image">
                                                                                                                                <figure class="img-holder"><img src="../images/about-us-imgs/shivansh-prb.avif"></figure></div>
                                                                                                                                <div class="team-member__body"><h3 class="team-member__title">Shivansh</h3>
                                                                                                                                    <p class="team-member__subtitle">PR Branding Head</p>
                                                                                                                                </div>
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                        </div>   <div class="team-member">
                                                                                                                            <div class="card">
                                                                                                                                <div class="card-front">
                                                                                                                                    <div class="team-member__image">
                                                                                                                                        <figure class="img-holder"><img src="../images/about-us-imgs/VarunSaxena_WebOpsHead.avif"></figure></div>
                                                                                                                                        <div class="team-member__body"><h3 class="team-member__title">Varun</h3>
                                                                                                                                            <p class="team-member__subtitle">Web-Ops Head</p>
                                                                                                                                        </div>
                                                                                                                                    </div>
                                                                                                                                </div>
                                                                                                                                </div>   <div class="team-member">
                                                                                                                                    <div class="card">
                                                                                                                                        <div class="card-front">
                                                                                                                                            <div class="team-member__image">
                                                                                                                                                <figure class="img-holder"><img src="../images/about-us-imgs/samhita-creatives.avif"></figure></div>
                                                                                                                                                <div class="team-member__body"><h3 class="team-member__title">Samhita</h3>
                                                                                                                                                    <p class="team-member__subtitle">Creatives Head</p>
                                                                                                                                                </div>
                                                                                                                                            </div>
                                                                                                                                        </div>
                                                                                                                                        </div>


                                                                                                                                        </div>
            <div class="team-row">
                <div class="team-member">
                    <div class="card">
                        <div class="card-front">
                            <div class="team-member__image">
                                <figure class="img-holder"><img src="../images/about-us-imgs/Harshit-Seksaria_AppOpsHead.avif"></figure></div>
                                <div class="team-member__body"><h3 class="team-member__title">Harshit</h3>
            <p class="team-member__subtitle">App-Ops Head</p>
                                </div>
                            </div>
                        </div>
                        </div>



                        <div class="team-member">
                            <div class="card">
                                <div class="card-front">
                                    <div class="team-member__image">
                                        <figure class="img-holder"><img src="../images/about-us-imgs/Media_head.avif"></figure></div>
                                        <div class="team-member__body"><h3 class="team-member__title">Pratham</h3>
                                            <p class="team-member__subtitle">Media Head</p>
                                        </div>
                                    </div>
                                </div>
                                </div>

            </div>



</div>
</div>
</section>

<header class="section-header2"><h3 class="section-title1 title-decor">Highlights</h3><p class="text text-italic"><span>Watch some of the most thrilling moments from the fest</span> </p></header>



   



  <footer>
    <div class="wrapper">
      <i id="left" class="fa-solid fa-angle-left"></i>
      <ul class="carousel">
        <li class="card">
          <div class="img">
            
             <iframe src="https://www.youtube.com/embed/lPpmFBoEIWc?si=kpUFDClxpD6XgApZ" frameborder="0" allowfullscreen></iframe>
             

            </div>
          <h2>Spirit'22 Promo</h2>
          <span>Promo Video</span>
        </li>
        <li class="card">
          <div class="img"> <iframe src="https://www.youtube.com/embed/6U53ug3xv5s?si=2QQqoVucSVhl0oeR"  frameborder="0" allowfullscreen></iframe>

          </div>
          <h2>Spirit'22 Teaser</h2>
          <span>Official Teaser</span>
        </li>
        <li class="card">
          <div class="img"> <iframe src="https://www.youtube.com/embed/5sqMUY8pxnQ?si=iFuZfRj7Yhrb226J" frameborder="0" allowfullscreen></iframe></div>
          <h2>Spirit 2019 Teaser</h2>
          <span>Official Teaser</span>
        </li>
        <li class="card">
          <div class="img"> <iframe src="https://www.youtube.com/embed/lPpmFBoEIWc?si=kpUFDClxpD6XgApZ" frameborder="0" allowfullscreen></iframe></div>
          <h2>Spirit'22 Promo</h2>
          <span>Promo Video</span>
        </li>
        <li class="card">
          <div class="img"> <iframe src="https://www.youtube.com/embed/5sqMUY8pxnQ?si=iFuZfRj7Yhrb226J" frameborder="0" allowfullscreen></iframe></div>
          <h2>Spirit'22 Teaser</h2>
          <span>Official Teaser</span>
        </li>
        <li class="card">
          <div class="img"> <iframe src="https://www.youtube.com/embed/6U53ug3xv5s?si=2QQqoVucSVhl0oeR" frameborder="0" allowfullscreen></iframe></div>
          <h2>Spirit 2019 Teaser</h2>
          <span>Official Teaser</span>
        </li>
      </ul>
      <i id="right" class="fa-solid fa-angle-right"></i>
    </div>


</div>

</footer>
<div class="footer">
            
    <div id="foot_1">
        <div>
            <img src="images/Group-spirit-footer.svg" alt="spirit.">
        </div>
        <div class="foot-text">
            Copyright &copy; 2023 Spirit, Sports Board, IIT Guwahati: <br>
            All rights reserved
        </div>
        <div class="apps" style="margin-left: -15px;margin-top: 15px;">
            <a href="#"><img src="images/Vector.png" alt="insta"></a>
            <a href="#"><img src="images/vectorf.png.png" alt="fb"></a>
            <a href="#"><img src="images/Vectory.png" alt="youtube"></a>
        </div>
    </div>
    <div class="qlinks">
        <label for="ql"><h1>Quick Links</h1></label>
        <ul class="ql" id="ql">
            <li><a href="/">Home</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/about-us">About Us</a></li>
        </ul>
    </div>
    <div class="con" style="margin-top: -20px;">
        <!-- <a href="#"><h1>Contact</h1></a> -->
        <label for="ql"><h1>Contacts</h1></label>
          <ul class="ql contactlist" id="ql" style=" list-style-type: none;line-height: 1.7;margin-top: 7%;font-weight: 700;">
              <li>PR & Branding Heads</li>
              <li>Shivansh #9354754183</li>
              <li>Deepan #8839477943</li>
          </ul>
    </div>
</div>



  </body>
  
  <script>
    const arrowBtns = document.querySelectorAll(".wrapper i");
    const carousel = document.querySelector(".carousel");
    const firstCardWidth = document.querySelector(".card").offsetWidth + 16; // Include gap
  
    arrowBtns.forEach(btn => {
      btn.addEventListener("click", () => {
        const scrollAmount = btn.id === "left" ? -firstCardWidth : firstCardWidth;
        carousel.scrollBy({
          left: scrollAmount,
          behavior: "smooth"
        });
  
        updateArrowVisibility();
      });
    });
  
    function updateArrowVisibility() {
      const scrollPosition = carousel.scrollLeft;
  
      arrowBtns[0].style.display = scrollPosition === 0 ? "none" : "block";
  
      const maxScrollPosition = carousel.scrollWidth - carousel.clientWidth;
      arrowBtns[1].style.display = scrollPosition >= maxScrollPosition ? "none" : "block";
    }
  
    // Initial update of arrow visibility
    updateArrowVisibility();
  
    // Listen for scroll event to update arrow visibility
    carousel.addEventListener("scroll", updateArrowVisibility);



   
  </script>
  
  



   
     

<script src="../js/about-us1.js"></script>
<script src="../js/about-us3.js"></script>
<script src="../js/about-us2.js"></script>
    
</body>
</html>
