<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="../css/desktop15-css/desktop15.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <!-- <link rel="stylesheet" href="stylefooter.css"> -->
    <title>Spirit 2023</title>
    <link rel="stylesheet" href="../css/desktop15-css/header.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon_io/favicon-16x16.png">
    <link rel="manifest" href="../favicon_io/site.webmanifest">
</head>

<body>
    
    <header class="header1">
        <div class="year">
            <a href="/"><img class="logo" src="../images/Svectorlogo.svg" alt="spirit logo" height="31.25px">
            <img class="spir" src="../images/Component 1.svg" alt="spiritname" height="32.3px"></a>
            <!-- <h1>SPIRIT</h1>
            <span>2023</span> -->
        </div>
        <nav class="navbar1">
            <div class="hamburger1" id="hamburger1">
                <div class="bar1"></div>
                <div class="bar1"></div>
                <div class="bar1"></div>
              </div>
            <ul class="hlinks" id="hlinks">
                <li><a href="/events" style="font-family: 'satoshi';">Events</a></li>
                <!-- <li><a href="#">Sponsors</a></li> -->
                <li><a href="/about-us" style="font-family: 'satoshi';">About Us</a></li>
                <li><a href="https://drive.google.com/file/d/1y8EZ1wJE1FBL0Z2j-rdv6JyyLYDVkHMg/view?usp=sharing" target="_blank" style="font-family: 'satoshi';">Rulebook</a></li>
                <li>
                    <!-- <li><a href="#">CA Programme</a></li> -->
                    <button class="but" style="font-family: 'satoshi';font-weight: 900;" onclick="location.href='/register'">Register</button>
                </li>
            </ul>
        </nav> 

</header>

<div class="event_body">
   <div class="game_details">
           <div class="game_name">
                Basketball Men's
           </div>

           <div class="date">
               <!--3 November 2023-->
           </div>

           <div class="team_size">
               Team Size:  <span class="bold">Refer Rulebook</span>
           </div>

           <div class="venue">
             <!--  Venue: <span class="bold">Basketball Court</span> -->
           </div>

           <div class="rulebook_link">
              <a href="https://drive.google.com/file/d/1y8EZ1wJE1FBL0Z2j-rdv6JyyLYDVkHMg/view?usp=sharing" target="_blank" style="text-decoration: none;color:blueviolet;">Find the rulebook here</a> 
           </div>

           <div class="register_button">
              <a href="/register" style="text-decoration: none;color: black;">Register</a> 
           </div>

   </div>

  <div class="pics"> 
        <div class="game_pics_huge">
            <img src="../images/cricket-1.webp" class="pics_huge" alt="poster_huge">
        </div>

    <div class="game_pics_small">
        <img src="../images/basket-ball-2.avif" class="pics_small" alt="poster_small">
        <img src="../images/ceremony-3.webp" class="pics_small" alt="poster_small">

    </div>
</div> 
</div>  


<div  class="navigation_bar">
     <div class="nav_menu">
        <a href="https://linktr.ee/Spirit_Locations" target="_blank">Navigate the Venue</a>
     </div>

     <div class="map_image">
        <a href="https://linktr.ee/Spirit_Locations" target="_blank">
            <img src="../images/desktop15-imgs/gymkhana-map.png" alt="">
        </a>
     </div>
</div>

<div class="highlights_section">
    <div class="highlights">Highlights</div>
    <div class="highlights_tagline">Watch some of the most thrilling moments from the fest</div>

    <!-- Wrapper -->
    <div class="wrapper">
        <div class="carousel">
            <iframe src="https://www.youtube.com/embed/lPpmFBoEIWc?si=kpUFDClxpD6XgApZ" frameborder="0" allowfullscreen></iframe>
    
    
            <iframe src="https://www.youtube.com/embed/6U53ug3xv5s?si=2QQqoVucSVhl0oeR" frameborder="0" allowfullscreen></iframe>
    
          
            <iframe src="https://www.youtube.com/embed/5sqMUY8pxnQ?si=iFuZfRj7Yhrb226J" frameborder="0" allowfullscreen></iframe>
          
      
      
           
       
        
            <iframe src="https://www.youtube.com/embed/lPpmFBoEIWc?si=kpUFDClxpD6XgApZ" frameborder="0" allowfullscreen></iframe>
          
         
    
            <iframe src="https://www.youtube.com/embed/5sqMUY8pxnQ?si=iFuZfRj7Yhrb226J" frameborder="0" allowfullscreen></iframe>
           
            <iframe src="https://www.youtube.com/embed/6U53ug3xv5s?si=2QQqoVucSVhl0oeR" frameborder="0" allowfullscreen></iframe>
          
        
            <iframe src="https://www.youtube.com/embed/lPpmFBoEIWc?si=kpUFDClxpD6XgApZ" frameborder="0" allowfullscreen></iframe>
           
        
        
           
          
          <div class="arrow left"><i class="fa-solid fa-angle-left"></i></div>
          <div class="arrow right"><i class="fa-solid fa-angle-right"></i></div>
    
         </div>
        </div>
</div>
<!-- Importing footer from Landing Page -->

<footer class="footer">
            
    <div id="foot_1">
        <div>
            <img src="../images/Group-spirit-footer.svg" alt="spirit.">
        </div>
        <div class="foot-text">
            Copyright &copy; 2023 Spirit, Sports Board, IIT Guwahati: <br>
            All rights reserved
        </div>
        <div class="apps">
            <a href="https://www.instagram.com/spirit_iitguwahati/?hl=en" target="_blank"><img src="../images/desktop15-imgs/Vector.png" alt="insta"></a>
            <a href="https://www.facebook.com/spiritiitg/" target="_blank"><img src="../images/desktop15-imgs/vectorf.png.png" alt="fb"></a>
            <a href="https://youtube.com/@spiritiitguwahati2541?feature=shared"  target="_blank"><img src="../images/desktop15-imgs/Vectory.png" alt="youtube"></a>
        </div>
    </div>
    <div class="qlinks">
        <label for="ql"><h1 style="font-size: 1.5em;">Quick Links</h1></label>
        <ul class="ql" id="ql">
            <li><a href="/">Home</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/about-us">About Us</a></li>
        </ul>
    </div>
    <div class="con">
        <!-- <a href="#"><h1>Contact</h1></a> -->
        <label for="ql"><h1 style="font-size: 1.6em;">Contacts</h1></label>
          <ul class="ql" id="ql" style=" list-style-type: none;margin-top: 30%;line-height: 1.5;font-weight: 700;">
              <li>PR & Branding Heads</li>
              <li>Shivansh #9354754183</li>
              <li>Deepan #8839477943</li>
          </ul>
    </div>
</footer>

<script src="../js/desktop15-js/desktop15.js"></script>
<script src="../js/desktop15-js/header.js"></script>
</body>