<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spirit 2023</title>
    <link rel="stylesheet" href="/css/LandingPage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon_io/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../favicon_io/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../favicon_io/favicon-16x16.png">
<link rel="manifest" href="../favicon_io/site.webmanifest">
<style>

@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre&display=swap');

.sp{
  width: 20vw;
}

.newsh{
    color: yellow;
    font-family: sans-serif;
    padding-right: 4%;
    padding-left: 1.5%;
    line-height: 1.5;
    font-size: 105%;
    padding-left: 4%;
}

</style>
</head>
<body>
    <!--prem-->
    <header class="header">
      <div class="year">
          <a href="/" style="text-decoration: none;margin-left: -30px;"><img class="logo" src="/images/Svectorlogo.svg" alt="spirit logo" height="31.25px" id="sp-logo-lpage" style="margin-bottom: 3px;">
          <img class="spir" src="/images/Component 1.svg" alt="spiritname" height="37px" id="sp-text-lpage"></a>
      </div>
      <nav class="navbar">
          <div class="hamburger" id="hamburger">
              <div class="bar"></div>
              <div class="bar"></div>
              <div class="bar"></div>
            </div>
          <ul class="hlinks" id="hlinks">
              <li><a href="/events" style="font-family: 'satoshi';">Events</a></li>
              <!-- <li><a href="#">Sponsors</a></li> -->
              <li><a href="/about-us" style="font-family: 'satoshi';">About Us</a></li>
              <li><a href="https://drive.google.com/file/d/1y8EZ1wJE1FBL0Z2j-rdv6JyyLYDVkHMg/view?usp=sharing" target="_blank" style="font-family: 'satoshi';">Rulebook</a></li>
              <li>
                  <button class="but" onclick="location.href='/register'" style="cursor: pointer;font-family: 'satoshi';font-weight: 900;">Register</button>
              </li>
          </ul>
      </nav>
  </header>

  <!-- random commit -->


    <!--RAHUL -->
    <div id="container">
        <!-- landing page -->
        <div class="main-container">
        <div id="mainpage">
          <div class="cross"><img  class="crossi"src="images/Vector 169.png">
            <img  class="crossi" src="images/Vector 169.png">
            <img  class="crossi" src="images/Vector 169.png">
            </div>
            <div id="info">
                <h1><em>SPIRIT</em></h1>
                <h3>2nd-5th November 2023</h3>
                <p>Spirit is the annual sports festival of IIT Guwahati which organizes several competitive events.
                    Spirit is a platform for all budding sportspersons.</p>
                <a href="/register">Register<img src="images/Arrow 1.png"></a>       
            </div>
            
        </div>
        <div class="style">
          <img  class="slash" src="images/Group 57.png">
        </div>
        </div>

        <!-- Corousel -->
        <div class="carousel-container">
            <div class="carousel">
              <img src="images\waterpolo-1.avif" alt="Image 1" loading="eager">
                <img src="images\comedy-night.avif" alt="Image 1" loading="eager">
                <img src="images\longjump.webp" alt="Image 1" loading="eager">
                <img src="images\cricket-2.webp" alt="Image 1" loading="eager">
            </div>
            <div class="carousel">
              <img src="images\ceremony-2.avif" alt="Image 1" loading="eager">
              <img src="images\basket-ball-2.avif" alt="Image 1" loading="eager">
              <img src="images/image-2.avif" alt="Image 1" loading="eager">
              <img src="images\audi-comedy-night.avif" alt="Image 1" loading="eager">
            </div>
        </div>
        <!-- odometer -->
        <div id="odometer">
            <div class="stat-container">
                <div class="numbers">
                    <span class="stat-value" id="audienceValue">30</span><span class="plus_sign">+</span>
                </div>
                <div class="stat-label">Events</div>
            </div>
            <div class="stat-container">
                <div class="numbers">
                    <span class="stat-value" id="sponsorsValue">4000</span><span class="plus_sign">+</span>
                </div>
                <div class="stat-label">Participants</div>
            </div>
            <div class="stat-container">
                <div class="numbers">
                    <span class="stat-value" id="footfallValue">100</span><span class="plus_sign">+</span>
                </div>
                <div class="stat-label">Colleges</div>
            </div>
            <div class="stat-container">
                <div class="numbers">
                    <span class="stat-value" id="customersValue">50</span>
                    <span id="thousandK">K</span>
                    <span class="plus_sign">+</span>
                </div>
                <div class="stat-label">Footfall</div>
            </div>
        </div>
    </div>
<!-- AKSHAYA -->
    <div class="AKSHAYA">
      <div class="whatisspirit_aks">
          <div class="text_aks">
              <h1>What is <span style="font-family: FontspringVanguard-bold;">SPIRIT</span><span>?</span></h1>
              <p >Spirit is the annual sports festival of IIT Guwahati,
                   one of the largest sports festivals in North-east India.
                    Being held from 2nd to 5th November, it provides a platform 
                    for all budding sportspersons to showcase their talent 
                    and engage in various sports activities.  It allows 
                    players all over the country to iron out the flaws in 
                    their game and gain somevaluable match practice!</p>
              <p style="text-decoration: underline;color: #3E2174;font-family: AppleGaramound-bold-italic;font-size: 1.5rem; margin-top: 20px;"><a href="https://youtu.be/0Ou0EpHdbnM?feature=shared" target=”_blank” style="font-family:'satoshi';">Click here to watch our Aftermovie</a></p>
          </div>
          <div class="imgbox">
            <div class="flip-container">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="images\what-is-spirit-logo-removebg.png" alt="Avatar" class="img_aks">
                </div>
                <div class="flip-card-back">
                  <img src="images\what-is-spirit-logo-removebg.png" alt="Avatar" class="img_aks">
                </div>
              </div>
            </div>
          </div>
          </div>  
      </div>
      <div class="whatisspirit_aks1" id="mascot_aks">
          <div class="text_aks">
              <h1 >Meet our Mascot</h1>
              <h1 style="font-family: FontspringVanguard-bold; font-weight: 300; font-size: 4rem;font-style: italic;margin-top: 0.2vw;">BLAZE</h1>
              <p style="font-family: satoshi; font-weight: 200;">"Blaze," the dynamic mascot of Spirit, embodies the essence of sports with its energetic presence and vibrant personality, uniting sports players and enthusiasts alike in the celebration of sport at IIT Guwahati's annual sports festival.</p>
          </div>
            <div class="floating-container">
                <img src="images/mascot 1 rendered 1.svg" alt="Floating Image" class="floating-image" >
            </div>
          
      </div>
  
  
  
      <div class="events">
        <div class="events_top">
          <div>EVENTS</div>
          <p>The fest is not just about sports, games or winning. It has a lot more shades to it. From exciting events like talent hunt and virtual sports talks to social initiatives like blood donation camp, exhilarating pronites to the actual sports to fight.</p>
        </div>
        <div class="events_bottom">
          <div class="card">
            <div class="events-top-heading">SPORTS EVENTS</div>
            <img src="images\cricket-5.avif" alt="Denim Jeans" style="width:100%">
            <div class="events-bottom-para">
              <p>Spirit is the largest inter college sports fest with 4k+participation and organises various sports competitions!</p>
            <p class="register-aks"><!--Register --> <span class=""></span> </p> <!--class of span : fa fa-arrow-right-->
            </div>  
          </div>
          <div class="card">
            <div class="events-top-heading">SOCIAL WORK</div>
            <img src="images\social-work-img.avif" alt="Denim Jeans" style="width:100%">
            <div class="events-bottom-para">
              <p>Spirit is the largest inter college sports fest with 4k+participation and organises various social work drives!</p>
            <p class="register-aks"><!--Register --> <span class=""></span></p> <!-- class in span : fa fa-arrow-right -->
            </div>
          </div>
        </div>
        </div>
  </div>

<!-- ADHIKANSH -->
<div class="adhikansh" style="margin-top: 5%;">
  <div class="box">
    <div class="top-header">
      <div class="happening">HAPPENING IN SPORTS</div>
      <div class="insert_top">
        <div class="news_text">
        <h3 class="h0">Sports</h3><p class="des0">Welcome to the Sports News Hub - Your Source for the Latest Updates and Highlights!</p></div>
        <img src="images\news-default.png" id="img_style1" alt="aqauaaa"></img>
      </div>
    </div>
<div class="bottom">
  <div class="insert_bottom">
      <div class="news_text1">
        <h3 class="h1">Football</h3>
        <p class="des1 newsh">Messi will 'surely play again', says Inter Miami manager in major injury update.He did not feature in the U.S. Open Cup final match due to injury issues, as the side faced a 1-2 defeat to Houston Dynamo.</p>
      </div>
      <img src="images\messi-news.webp" id="img_style2" alt="messi"></img>
  </div>
  <div class="insert_bottom">
      <div class="news_text1">
        <h3 class="h2">Cricket</h3>
        <p class="des2 newsh">India wants to carry momentum of Australia ODI series win to World Cup: Dravid. After winning the first two matches of the series, India had already sealed the fate of the series. </p>
      </div>
        <img src="images\dravid-news.webp" id="img_style3" alt="dravid"></img>
  </div>
  <div class="insert_bottom">  
    <div class="news_text1">
      <h3 class="h3">Asian Games</h3>
      <p class="des3 newsh">India's Dipika Pallikal and Harinder Pal Singh Sandhu created history by becoming the first pair to win the gold medal in the squash mixed doubles event at the Asian Games 2023 in Hangzhou</p>
    </div>
      <img src="images\asian-games-photu.avif" id="img_style4" alt="naruka"></img>
  </div>

</div>
</div>
</div>
 


<!--ASHMIT-->
<div class="faq"><i>FAQS</i></div>
     <div class="accordion-container">
    <div class="container">
      <div class="accordion">
        <b>What events are being held?</b>
        <i class="fa-solid fa-chevron-down"></i>
      </div>
      <div class="pannel">
        <p>
          <!-- Spirit captures a plethora of thrilling stage performances,adding to
          the sheen of the fest! Spirit captures a plethora of thrilling stage
          performances,adding to the sheen of the fest! -->
          Kindly refer to the Rulebook then the Events section of the website.
        </p>
      </div>
      </div>
      <div class="container">
        <div class="accordion"><b>How can I register?</b>
          <i class="fa-solid fa-chevron-down"></i>
        </div>
        <div class="pannel">
          <p>
            <!-- Spirit captures a plethora of thrilling stage performances,adding to
            the sheen of the fest! Spirit captures a plethora of thrilling stage
            performances,adding to the sheen of the fest! -->
            Kindly refer the RuleBook then go to Register section of the website.
          </p>
        </div>
        </div>
        <div class="container">
          <div class="accordion"><b>What are the dates?</b>
            <i class="fa-solid fa-chevron-down"></i></div>
          <div class="pannel">
            <p>
              <!-- Spirit captures a plethora of thrilling stage performances,adding to
              the sheen of the fest! Spirit captures a plethora of thrilling stage
              performances,adding to the sheen of the fest! -->
              Spirit is between 2nd-5th Nov 2023.
            </p>
          </div>
          </div>
          <div class="container">
            <div class="accordion"><b>Who all can participate?</b>
              <i class="fa-solid fa-chevron-down"></i></div>
            <div class="pannel">
              <p>
                <!-- Spirit captures a plethora of thrilling stage performances,adding to
                the sheen of the fest! Spirit captures a plethora of thrilling stage
                performances,adding to the sheen of the fest! -->
                Kindly refer the rulebook for the exact eligibility criteria.
              </p>
            </div>
            </div>
    </div>
    <div class="sponsor">
      <div class="title"><h1>SPONSORS</h1></div>
      <div class="sponsor_line"><p>Spirit is proud to be backed by</p></div>
      <div class="sponsor_img">
        <!-- <div class="gekoson"><img src="images/Screenshot 2023-08-07 115140.png" alt="Gekoson"></div>
        <div class="paramount"><img src="images/Screenshot 2023-08-07 115150.png" alt="Paramount Dealz"></div>
        <div class="ies"><img src="images/Screenshot 2023-08-07 115156.png" alt="IES Master"></div>
        <div class="gplus"><img src="images/Screenshot 2023-08-07 115203.png" alt="GPlus"></div>
        <div class="chess sp"><img src="images/Screenshot 2023-08-07 115207.png" alt="Chess.com"></div> -->
        <div class="chess sp"><img src="images/sponsors/nubtek.png" alt="assam-oil"></div>
        <div class="chess sp"><img src="images/sponsors/killer.jpg" alt="assam-oil"></div>
        <div class="chess sp"><img src="images/sponsors/skechers.jpg" alt="assam-oil"></div>
        <div class="chess sp"><img src="images/sponsors/dreaming-arist-studio.png" alt="assam-oil"></div>
        <div class="chess sp"><img src="images/sponsors/geks-era.jpg" alt="assam-oil" style="width:50%;"></div>
        <div class="chess sp"><img src="images/sponsors/monster-logo-2-1.webp" alt="assam-oil"></div>
        <div class="chess sp"><img src="images/sponsors/crewvenirs.jpeg" alt="assam-oil" style="width: 70%;"></div>
        <div class="chess sp"><img src="images/sponsors/Bank-of-India-logo.png" alt="assam-oil"></div>
        <div class="chess sp"><img src="images/sponsors/Campus-Times-Pune-website-Logo-2023.png" alt="assam-oil"></div>
        <div class="chess sp"><img src="images/sponsors/salas_new.jpg" alt="assam-oil"></div>
        <div class="chess sp"><img src="images/sponsors/just-guwahati-things.jpg" alt="assam-oil"></div>
        <div class="chess sp"><img src="images/sponsors/dy365.jpg" alt="assam-oil"></div>
        <div class="chess sp"><img src="images/sponsors/BIGFM_NEW_LOGO_2019.png" alt="assam-oil"></div>
        <div class="chess sp"><img src="images/sponsors/homa.png" alt="assam-oil"></div>
        <div class="chess sp"><img src="images/sponsors/Amul_official_logo.png" alt="assam-oil"></div>
        <div class="chess sp"><img src="images/sponsors/ies-master.jpg" alt="assam-oil"></div>
        <div class="chess sp"><img src="images/sponsors/rent-n-go.avif" alt="assam-oil"></div>
        <div class="chess sp"><img src="images/sponsors/nerim.png" alt="assam-oil"></div>
        <div class="chess sp"><img src="images/sponsors/Sachika-Hotels-header.png" alt="assam-oil"></div>
        <div class="chess sp"><img src="images/sponsors/Honda_Logo.svg" alt="assam-oil" style="width:60%;"></div>
        <div class="chess sp"><img src="images/sponsors/orion.png" alt="assam-oil"></div>
        <div class="chess sp"><img src="images/sponsors/unibic.png" alt="assam-oil"></div>
        <div class="chess sp"><img src="images/sponsors/vision-ias.webp" alt="assam-oil"></div>
        <div class="chess sp"><img src="images/sponsors/TOI.png" alt="assam-oil"></div>
        <div class="chess sp"><img src="images/sponsors/brahmaputra-grp-logo.png" alt="assam-oil"></div>
        <div class="chess sp"><img src="images/sponsors/canera-bank-logo.png" alt="assam-oil"></div>
        <div class="chess sp"><img src="images/sponsors/G_Plus_Logo.png" alt="assam-oil"></div>
        <div class="chess sp"><img src="images/sponsors/India_Post_Logo.png" alt="assam-oil"></div>
        <div class="chess sp"><img src="images/sponsors/paramount-chess-logo.jpg" alt="assam-oil"></div>
        <div class="chess sp"><img src="images/sponsors/toyota.png" alt="assam-oil"></div>
      </div>
    </div>


    <footer class="footer">
            
      <div id="foot_1">
          <div>
              <img src="/images/Group-spirit-footer.svg" alt="spirit.">
          </div>
          <div class="foot-text">
              Copyright &copy; 2023 Spirit, Sports Board, IIT Guwahati: <br>
              All rights reserved
          </div>
          <!-- <br> -->
          <div class="apps">
              <a href="https://instagram.com/spirit_iitguwahati?igshid=MzRlODBiNWFlZA==" target="_blank"><img src="images/Vector.png" alt="insta"></a>
              <a href="https://www.facebook.com/spiritiitg/" target="_blank"><img src="images/vectorf.png.png" alt="fb"></a>
              <a href="https://www.youtube.com/@spiritiitguwahati2541" target="_blank"><img src="images/Vectory.png" alt="youtube"></a>
          </div>
      </div>
      <div class="qlinks">
          <label for="ql"><h1>Quick Links</h1></label>
          <ul class="ql" id="ql">
              <li><a href="/">Home</a></li>
              <li><a href="/events">Events</a></li>
              <li><a href="/about-us">About Us</a></li>
          </ul>
      </div>
      <div class="con">
          <!-- <a href="#"><h1>Contact</h1></a> -->
          <label for="ql"><h1>Contacts</h1></label>
          <ul class="ql contactlist" id="ql" style=" list-style-type: none;line-height: 1.5;margin-top: 20px;font-weight:700;">
              <li>PR & Branding Heads</li>
              <li>Shivansh #9354754183</li>
              <li>Deepan #8839477943</li>
          </ul>
      </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous">
  </script>
<script src="../js/script.js"></script>
<script src="../js/lpageScript.js"></script>
    
</body>
</html>
