<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stylish Contact Form</title>
    <link rel="stylesheet"href="css/styles-email.css">
</head>
<body>
    <div class="container">
        <h1>Download Certificate - Spirit 2023</h1>
      <form action="/generate-pdf" method="post">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="uni">University:</label>
                <input type="text" id="uni" name="uni" required>
            </div>
            <div class="form-group">
                <label for="sport">Sport:</label>
                <input type="text" id="sport" name="sport" required>
            </div>
            <div class="form-group">
                <button type="submit">Get Certificate</button>
            </div>
        </form>
    </div>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stylish Contact Form</title>
    <link rel="stylesheet"href="css/styles-email.css">
</head>
<body>
    <div class="container">
        <h1>Download Certificate - Spirit 2023</h1>
      <form action="/generate-and-email-pdf" method="post">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="uni">University:</label>
                <input type="text" id="uni" name="uni" required>
            </div>
            <div class="form-group">
                <label for="sport">Sport:</label>
                <input type="text" id="sport" name="sport" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <button type="submit">Send Certificate</button>
            </div>
        </form>
    </div>
</body>
</html>

