<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spirit 2023</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon_io/favicon-16x16.png">
    <link rel="manifest" href="../favicon_io/site.webmanifest">
</head>
<body>

<h1>Privacy Policy</h1>
Your privacy is important to us. It is SPIRIT's policy to respect your privacy regarding any information we may collect from you across our website and other sites and services we own and operate.

<h3>Information We Collect</h3>
We only collect information about you if we have a reason to do so — for example, to provide our services, to communicate with you, or to make our services better.

We collect information in three ways: if and when you provide information to us, automatically through operating our services, and from outside sources. Let's go over the information that we collect.

<h3>Information You Provide to Us</h3>
We may collect the personal information you provide, such as your name, email address, and any other information you provide when you create an account or communicate with us.

<h3>Information We Collect Automatically</h3>
We may automatically collect certain information about how you interact with our services. This information may include your IP address, device information, operating system, and usage information.

<h3>Information from Outside Sources</h3>
We may obtain information about you from third-party sources. For example, if you create or log into your account through a third-party social media site, we will have access to certain information from that site, such as your name, account information, and friends lists, in accordance with the authorization procedures determined by such third-party social media site.


<h2>How We Use Your Information</h2>

We use the information we collect in various ways, including to:

Provide, operate, and maintain our services.
Improve, personalize, and expand our services.
Understand and analyze how you use our services.
Develop new products, services, features, and functionality.
Communicate with you, either directly or through one of our partners, including for customer service, to provide you with updates and other information relating to the service, and for marketing and promotional purposes.

<h2>Sharing Your Information</h2>

We may share the information we collect in various ways, including:

With service providers, contractors, and other third parties we use to support our business.
With our business partners who offer a service to you jointly with us.
In response to a request for information if we believe disclosure is in accordance with any applicable law, regulation, or legal process, or as otherwise required by any applicable law, rule, or regulation.
If we believe your actions are inconsistent with our user agreements or policies, or to protect the rights, property, and safety of us or others.
With your consent or at your direction.

<h2>Data Security</h2>

We have implemented appropriate technical and organizational security measures designed to protect the security of any personal information we process. However, please also remember that we cannot guarantee that the internet itself is 100% secure. Although we will do our best to protect your personal information, the transmission of personal information to and from our services is at your own risk. You should only access the services within a secure environment.

<h1>Your Data Protection Rights Under General Data Protection Regulation (GDPR)</h1>

If you are a resident of the European Economic Area (EEA), you have certain data protection rights. SPIRIT aims to take reasonable steps to allow you to correct, amend, delete, or limit the use of your personal information.

If you wish to be informed what personal information we hold about you and if you want it to be removed from our systems, please contact us.

<h1>Changes to This Privacy Policy</h1>

We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.

You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.

</h1>Contact Us</h1>

If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us at spiritiitguwahati@gmail.com.

</body>
</html>
