/* Google font poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@100&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* /* ===== Colors ===== * / */
    --body-color: #18191A;
    --sidebar-color: #242526;
    --primary-color: #4f5052;
    --toggle-color: #DDD;
    --text-color: #FFF;
    --main-color: #ab40df;
    /* transitions */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body{
    height: 100vh;
    background-color: var(--body-color)!important;
}

ul{
    padding: 0!important;
}
button{
    background-color: white;
    border: 2px solid var(--bs-primary-color);
    padding: 8px;
    border-radius: 10px !important;
    font-size: 26px;
    color:var(--bs-primary-color);
  }
  
  button:hover{
    background-color: var(--main-color);
    color: white;
  }
/* ======== SIDEBAR ========  */

.sidebar {
    /* background-color: black; */
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 280px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-04);
}

.sidebar.close{
    /* visibility: hidden; */
    width: 100px;
}
.sidebar.close .text{
    opacity:0;
}

.scroll{
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.sidebar header{
    position: relative;
}

.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-04);
    white-space: nowrap;
    opacity: 1;
}

.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .image-text img{
    width: 50px;
    height: 65px;
}

.sidebar header .image-text{
    display: flex;
    align-items:center;
    gap: 3px;
}

header .image-text .header-text{
     display: flex;
     flex-direction: column;
}

.header-text .club{
    font-weight: 600;
}

.header-text .college{
    margin-top: -4px;
}

.sidebar header .toggle-arrow{
    /* cursor: pointer; */
    position:absolute;
    top: 25%;
    right: -36px;
    transform: translate(-50%) ;
    height: 25px;
    width: 25px;
    background: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
}

.sidebar li{
    height: 50px;
    list-style: none;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.sidebar li a{
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
   transition: var(--tran-03);
   border-radius: 6px;
}

.sidebar li .icon{
    min-width: 60px;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar li  .icon,
.sidebar li  .text{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background:var(--primary-color) ;
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color:var(--text-color)
}

.sidebar .menu-bar{
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}


 /* ======== SPORTS SECIONS ======= */

 .bg-color{
    background: var(--sidebar-color);
 }

 .sport-section{
    height: fit-content;
    width: calc(100%-110px);
    margin-left: 100px;
    margin-top: 30px;
    transition: var(--tran-04);
 }
 .sport-section-heading{
    color:var(--text-color);
    font-size: 23px;
 }


 .dropdowns {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    width: 100%;
    height:inherit;
  }

 .custom-dropdown {
    width: 100%;
  }
  
  .custom-dropdown label{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 400;
    color:var(--text-color);
  }
  .custom-dropdown select , input{
    padding: 10px;
    font-size: 17px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    background-color: transparent;
    color:var(--text-color);
  }
  
  /* .custom-dropdown .dropdown-menu {
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
  }
  
  .custom-dropdown .dropdown-menu li {
    padding: 4px;
    cursor: pointer;
  } */