
*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
    background-color:  #ab40df;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-card{
    height: fit-content;
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: "Poppins";
}
/* .login-card h1{
    display: flex;
    justify-content: center;
} */

.login-card input{
    height: 30px;
    width: 300px;
    border-radius: 10px;
    padding: 10px;
    border:2px solid black;
    font-size: 17px;
}
.login-card input:focus{
   outline: none;
}

.login-card button{
    padding: 11px;
    width: 70%;
    border: none;
    border-radius: 5px;
    background-color: #0E2954;
    box-shadow: 3px 3px 3px #06214c;
    font-size: 20px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    font-family: "Poppins";
    cursor: pointer;
}
